<form id="formProducts">
    <input type="number" placeholder="Coloque id" id="idProduct" required>
    <input type="text" placeholder="Coloque nombre" id="nameProduct" required>
    <button type="submit">Agregar al carrito</button>
</form>

<button id="btn">VER PRODUCTOS</button>

<div id="products">
</div>



<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>